@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
*{
	font-family: 'Fredoka One', cursive;
}
body{
	background:#ecffa3;
}
.custom-scrollbar{
  &::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 3px;
		background-color: #49b4c7;
	}
	&::-webkit-scrollbar
	{
		width: 3px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 3px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #c53737;
	}
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.spin{
	animation:spin 2s linear infinite;
}
.shake{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@include keyframes(form_opacity_spin) {
  0% { 
  	opacity: 1;
  } 
  100% { 
  	opacity: 0.5; 
  }
}
@include keyframes(spin) {
  100% { 
  	transform: rotate(360deg);
  }
}
@include keyframes(frames-index-words) {
  0% {
    background-color: #ffbbbb55;
  }
  50% {
    background-color: #bbf7ff55;
  }
  100% {
    background-color: #ffbbbb55;
  } 
}
@include keyframes(shake) {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.toggle-menu{
  background: #e0e0e077;
  color: #676767;
  position: fixed;
  top: 46px;
  left: 98px;
  width: 30px;
  line-height: 28px;
  height: 30px;
  border: 1px solid #676767;
  z-index: 10;
  transition: all 0.5s ease-in-out;
	&.menu-close{
		left:6px;
	}
}
.index-words{
	z-index: 100;
	padding: 10px;
	position: fixed;
	left:0;
  top: 40px;
  height: calc(100vh - 40px);
	overflow-y: scroll;
	animation:frames-index-words 5s linear infinite;
	@extend .noselect;
	@extend .custom-scrollbar;
	transition: all 0.5s ease-in-out;
	box-shadow: 2px 2px 6px 1px #565656;
	&.menu-close{
		left:-100px;
	}
}
ul{
	&.index{
		list-style: none;
		padding-left: 5px;
	}
}
.bordered{

	position: absolute;
	left:0px;
	top:0px;
	content:'';
	width:50px;
	height: 50px;
	background:transparent;
	border-radius:50%;
}
.great_selected{
	background: white !important;
	color: #676767 !important;
	font-weight: bold;
}
.great{
	position: relative;
  background: #189a4f;
  padding: 10px;
  margin: 10px 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  line-height: 29px;
  display: inline-table;
  font-size: 15px;
  color: white;
  box-shadow: 0px 0px 8px 3px #124e15;
  transition:background 0.2s ease-in-out;
  &:after{
  	border:5px solid #15af5a;
  	transition:border 0.5s ease-in-out;
  	@extend .bordered;
  }
  &:before{
  	border:5px solid #50d659;
  	border-right-width: 0px;
  	border-left-width: 0px;
  	z-index: 10;
  	@extend .bordered;
  	//@extend .spin;
  }
  &:active{
  	background:#0e502a;
  }
  &:focus{
  	background:#0e502a;
  }
  &:hover{
  	cursor: pointer;
  	&:after{
  		border:5px solid #0e502a;
  	}
  }
}
.char-word{
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 60px;
	vertical-align: middle;
	padding: 5px;
	font-size: 40px;
	background: #246d86;
	color: white;
	margin: 2px;
	border: 2px solid #82d0dc;
	border-radius: 10px;
	text-transform: uppercase;
	box-shadow: 1px 1px 7px 1px #676767;
	&:hover{		
  	@extend .shake;
	}
	&.active{
	}
}
.custom-ad{
	width: 260px;
	margin: 40px auto 0px auto;
}
.texts{
	display: inline-block;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.loading_container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 250;
  background: #ffffff;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
}

.loading {
  text-align: center;
  justify-self: center;
  align-self: center;

  width:60px;
  height:60px;

  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.validity_container{
  margin: 10px 2px;
}