<template>
  <div class="vf">
    <h1 class="c-app-title">Bienvenido a este espacio</h1>
    <h4>Versión en español:</h4>
    <div class="content">
    	<p>
	    	El objetivo de esta aplicación web/móvil es que tú mismo te pongas a prueba a través de 
	    	unos ejercicios que pueden ayudarte a ejercitar tu memoria para recordar y ordenar frases, oraciones, 
	    	pensamientos, ideas, etc.
	    </p>
    </div>
    <div class="s_c">
		   <div>
		   	<p>
		    	La primera consiste en adivinar palabras a partir de caracteres desordenados.<br />
		    	La palabra correcta debes tipearla en el campo de texto que está debajo de la palabra a adivinar.
		    </p>
		   	<img class="sample" :src="sample2">
		   </div>
		   <div>
		   	<p>
		   		La segunda consiste en completar oraciones, expresiones con las palabras adecuadas. <br />
		   		Los números con bordes de color rojo indica los espacios que debes completar con alguno de las palabras 
		   		con bordes de color amarillo.<br />
		   		Para lograrlo, primero debes hacer un click sobre uno de los números con bordes de color rojo y luego 
		   		debes seleccionar la palabra con borde de color amarillo adecuado para completar la oración o expresión.
		   	</p>
		   	<img class="sample" :src="sample1">
		   </div>
    </div>
    <h4>English version:</h4>
    <div class="content">
    	<p>
	    	The objective of this web / mobile application is that you put yourself to the test through some exercises that can help you exercise your memory to remember and order phrases, sentences, thoughts, ideas, etc.
	    </p>
    </div>
    <div class="s_c">
		   <div>
		   	<p>
		    	The first is to guess words from messy characters.<br />
					The correct word must be typed in the text field below the word to guess.
		    </p>
		   	<img class="sample" :src="sample2">
		   </div>
		   <div>
		   	<p>
		   		The second is to complete sentences, expressions with the right words.<br />
					The numbers with red borders indicate the spaces that you must complete with any of the words with yellow borders.
					To achieve this, you must first click on one of the numbers with red borders and then you must select the appropriate yellow border word to complete the sentence or expression.
		   	</p>
		   	<img class="sample" :src="sample1">
		   </div>
    </div>
  </div>
</template>
<script>
	import sample1 from '@/assets/images/sample1.png'
	import sample2 from '@/assets/images/sample2.png'
	export default{
		data(){
			return {
				name:'About',
				sample1:sample1,
				sample2:sample2,
			}
		},
		mounted(){

		},
		methods:{

		},
		watch:{

		},
		computed:{

		},
		props:{

		}
	}
</script>
<style lang=scss scoped>
	*{
		font-family: 'Manjari', sans-serif;
	}
	img{
		max-width: 100%;
		&.sample{
			margin: 15px auto;
			border: 2px solid #26a09b;
	    border-radius: 10px;
	    padding: 5px;
	    box-shadow: 0px 0px 6px 2px #a2a2a2;
		}
	}
	.content{
		text-align: left;
	}
	.s_c{
		margin: 10px auto;
		max-width: 600px;
		img{
			max-width: 400px;
			position: relative;
			width: 100%;
		}
		p{
			text-align: justify;
		}
	}
</style>
