<template>
  <div class="vf">
  	<div v-show=" wait.list " class="loading_container">
  		<div class="loading"></div>
  	</div>
  	<h3 class="c-app-title">{{description}} - {{category}}</h3>
  	<div v-if=" current_index>=0 " @click="menu_close = true" >
	  	<div>
	  		<div 
		  		class="phrase-splitted" 
		  		:class="{has_anim: (is_number(it.text) && it.selected)}" 
		  		v-for="(it,idx) in phrase_parsed " 
		  	>
		  		<div 
		  			:class="{anim: (is_number(it.text) && it.selected),c_bordered: is_number(it.text) }" 
		  			@click="select_phrase_splitted(it)"
		  		>{{it.text}}</div>
	  			<label v-if="it.option_text!=''">{{it.option_text}}</label>
		  	</div>
	  	</div>
	  	<hr />
	  	<div>
		  	<h6>Opciones:</h6>
	  		<div v-if="list[current_index] && list[current_index].items">
	  			<div @click="set_text_for_selected_word_part(item)" class="option_item" v-for="(item,idx) in list[current_index].items">
	  				{{item.name}}
	  			</div>
	  		</div>
	  		<div class="validity_container">
	  			<b-btn variant="outline-info" @click="validate_phrase">Correcto ?</b-btn>&nbsp;
					<fai class="valid_msg" :class="{s:valid_msg}" icon="check-circle" v-if="valid_msg === true"></fai>
					<fai class="valid_msg" :class="{n:!valid_msg}" icon="times-circle" v-if="valid_msg === false"></fai><br />
	  		</div>
	  	</div>
  	</div>

		<div class="custom-ad" style="max-width: 300px;">
			<h6>Anuncio</h6>
			<ad-sense 
		    ad-slot="6962466190" 
		    ad-layout-key="-6t+ed+2i-1n-4w"
		    ad-format="fluid"
		    ad-client="ca-pub-6209186190244737"
		    ad-style="display:block"></ad-sense>
		</div>
		<div v-if="list.length>0" class="toggle-menu" :class="{'menu-close':menu_close}" @click=" menu_close = !menu_close ">
			<fai icon="arrow-right"></fai>
		</div>
  	<div v-if="list.length>0" class="index-words" :class="{'menu-close':menu_close}">
  		<ul class="index">
	  		<li v-for="(it,idx) in list">
	  			<div class="great" @click="select(idx)" :class="{great_selected:idx == current_index}">
	  				{{idx + 1}}
	  			</div>
	  		</li>
	  	</ul>
  	</div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as utils from '@/assets/js/utils.js'
import happy from '@/assets/happy.svg'
import Adsense from '@/components/Adsense.vue'
Vue.component(Adsense.name,Adsense)
const server_api 				= process.env.VUE_APP_SERVER_API
const server_path 			= process.env.VUE_APP_SERVER_URL+"/complete-phrases"
export default{
	data(){
		return {
			list:[],
			wait:{
				list:false,
				add_success:false,
			},
			current_index:-1,
			menu_close:true,
			text:'',
			category_id:null,
			category:'',
			description:'',
			acertadas:[],
			phrase_parsed:[],
			selected_phrase_splitted_word_to_fill:null,
			valid_msg:null,
		}
	},
	mounted(){
		this.category_id = this.$route.query.category
		this.getLists()
		console.log("complete phrases")
	},
	methods:{
		validate_phrase(){
			if(this.current_index>=0 && this.list.length>0){
				let current_phrase = this.list[this.current_index]
				let valid_options = !!current_phrase.options ? current_phrase.options.split(',') : []
				let count = 0
				for(let parsed of this.phrase_parsed){
					if(this.is_number(parsed.text)){
						let index = window.parseInt(parsed.text) - 1
						if(index in valid_options){
							let id = valid_options[index]
							if(parsed.option_id == id){
								count ++
							}
						}
					}
				}
				if(count > 0 && count == valid_options.length){
					this.valid_msg = true
					let d = new Date()
					let date_format = `${d.getFullYear()}-${ String("00" + (d.getMonth()+1)).slice(-2) }-${ String("00" + d.getDate()).slice(-2) }`
					this.add_success(current_phrase.id,date_format)
					console.log(date_format)
				}else{
					this.valid_msg = false
				}
			}
		},
		set_text_for_selected_word_part(item){
			if(this.selected_phrase_splitted_word_to_fill){
				this.selected_phrase_splitted_word_to_fill.option_text = item.name
				this.selected_phrase_splitted_word_to_fill.option_id = item.id
			}
			this.valid_msg = null
		},
		select_phrase_splitted(it){
			for(let word of this.phrase_parsed)word.selected = false
			it.selected = true
			if(this.is_number(it.text)){
				this.selected_phrase_splitted_word_to_fill = it
			}
		},
		is_number(it){ 
			let test = /\d/g.test(it)
			return test 
		},
		split_phrase(phrase){
			let str = this.parse_phrase(phrase)
			let arr = str.split(' ')
			let arr2 = []
			for(let value of arr)arr2.push({text:value,selected:false,option_text:'',option_id:null})
			this.phrase_parsed = arr2
		},
		parse_phrase(phrase){
			let str = phrase.replace(/\./g,' :: ').trim().replace(/ +/g,' ')
			let arr = str.split(' ')
			let count = 1
			for(let idx in arr){
				if(arr[idx] == '::'){
					arr[idx] = count
					count ++
				}
			}
			return arr.join(' ')
		},
		select(idx){
			this.current_index = idx
			this.selected_phrase_splitted_word_to_fill = null
			this.valid_msg = null
		},
		getLists(){
			if(this.wait.list)return
			this.wait.list = true
			this.axios.get(`${server_path}/${this.category_id}`,{ 
				headers:{  
					'Accept':'application/json', 
     			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then((response) =>{
			  if(this.$dev_mode)console.log(response)
				this.wait.list = false
			  if(response && response.data && response.data.values){
			  	let list = response.data.values
			  	this.current_index = 0
					this.category = response.data.category
					this.description = response.data.description
			  	this.list = list
			  	this.process_current_index()
			  }else{
			  }
			}).catch((err) =>{
				this.wait.list = false
				if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
				this.list = []
			})
    },
    process_current_index(){
    	this.split_phrase(this.list[this.current_index].name)
    },
    add_success(complete_phrase_id,date_format){
			if(this.wait.add_success)return
			this.wait.add_success = true
			this.axios.post(`${server_api}/add_success_cp`,{ 
					id:complete_phrase_id,
					date_format:date_format,
				},
				{ 
					headers:{  
						'Accept':'application/json', 
	     			'Content-Type':'application/json',
					},
				}
			).then((response) =>{
			  if(this.$dev_mode)console.log(response)
				this.wait.add_success = false
			  if(response && response.data && response.data.success){
			  	this.$parent.load_experience()
			  }else{
			  	if(this.$dev_mode){
			  		this.$parent.load_experience()
			  	}
			  }
			}).catch((err) =>{
				this.wait.add_success = false
				if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
				
			})
    },
	},
	computed:{

	},
	filters:{

	},
	watch:{
		$route(to,from){
			if(this.$dev_mode){
				console.log("to => ",to)
				console.log("from => ",from)
			}
			try{
				this.category_id = window.parseInt(to.query.category)
				this.wait.list = false
				this.getLists()
			}catch(e){}
		},
		current_index(){
			this.process_current_index()
		},
	},
	props:{

	},
}
</script>
<style scoped lang=scss>
@import '@/assets/css/_common.scss';

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.option_item{
	display: inline-block;
	padding: 5px 10px;
  border: 4px solid #e4d73a;
  border-radius: 25px;
	margin: 2px;
	transition: all 0.2s ease-in-out;
	@extend .noselect;
	&:hover{
		background: #f5e844;
    color: #4d948e;
    cursor: pointer;
	}
}
.phrase-splitted{
	display: inline-block;
	padding: 5px 2px;
	margin: 10px 2px;
	font-size:25px;
	position: relative;
	>label{
		position: absolute;
    bottom: -25px;
    left: 0px;
    font-size: 18px;
    width: 100%;
    text-align: center;
	}
	&.has_anim{
		>label{
			bottom: -40px;
		}
	}
	>div{
		position: relative;
		&.c_bordered{
			padding: 0px 20px;
			margin:0px 5px;
	    border: 5px solid #ff7070;
	    border-radius: 25px;
		}
		&:not(.c_bordered){
			border: 6px solid #b9de87;
	    border-radius: 25px;
	    padding: 0px 20px;
		}
		&.anim{
	    padding: 0px 20px;
	    margin: -16px 5px;
	    overflow: hidden;
	    border-color: transparent;
			&::before {
				content: '';
				position: absolute;
				z-index: -2;
				left: -50%;
				top: -50%;
				width: 200%;
				height: 200%;
				background-color: #399953;
				background-repeat: no-repeat;
				background-size: 50% 50%, 50% 50%;
				background-position: 0 0, 100% 0, 100% 100%, 0 100%;
				background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
				animation: rotate 4s linear infinite;
			}
			
			&::after {
		    content: "";
		    position: absolute;
		    z-index: -1;
		    left: 6px;
		    top: 6px;
		    width: calc(100% - 12px);
		    height: calc(100% - 12px);
		    background: white;
		    border-radius: 25px;
			}
		}
	}
	@extend .noselect;
	&:hover{
    cursor: pointer;
	}
}
.valid_msg{
	font-size:25px;
	&.s{
		color:green;
	}
	&.n{
		color:red;
	}
}
</style>
