<template>
  <div class="vf">
  	<div v-if=" wait.list " class="loading_container">
  		<div class="loading"></div>
  	</div>
  	<h3 class="c-app-title">{{description}} - {{category}} <br />¿ Qué palabra es ?</h3>
  	<div v-if=" current_index>=0 ">
	  	<div v-if="list.length>0">
	  		<div @click="menu_close = true" class="char-word" v-for="(char,index) in list[current_index].rand_text">
	  			{{char}}
	  		</div>
	  		<div v-if=" list && current_index>=0 ">Inicia con: 
	  			<span>{{list[current_index].text[0].toUpperCase()}}</span>
	  			<span>{{list[current_index].text[1].toLowerCase()}}</span>
	  		</div>
	  	</div>
			<br />
  		<b-input-group style="max-width: 300px;margin:2px auto ">
		    <b-input-group-prepend>
		      <b-btn :variant=" valid_string===true ? 'success':(valid_string === false ? 'danger':'warning') ">
		      	<fai icon="pencil-alt"></fai>
		      </b-btn>
		    </b-input-group-prepend>
		    <b-form-input placeholder="escribe aquí" @focus="menu_close = true" v-model="text"></b-form-input>
		    <b-input-group-append>
		      <b-btn v-if=" valid_string===true " variant="success">
		      	<fai icon="check-circle"></fai>
		      </b-btn>
		      <b-btn v-else variant="danger">
		      	<fai v-if=" valid_string===false " icon="times-circle"></fai>
		      	<fai v-if=" valid_string===null " icon="question"></fai>
		      </b-btn>
		    </b-input-group-append>
		  </b-input-group>
		  <br/>
		  <h6>Acertadas: ({{ acertadas.length }})</h6>
		  <div class="texts" v-for=" (it,idx) in acertadas ">{{it}}&nbsp;-&nbsp;</div>
		  <br/>
		  <br/>

			<div class="custom-ad" style="max-width: 300px;">
				<h6>Anuncio</h6>
				<ad-sense 
			    ad-slot="1840221781" 
			    ad-layout-key="-fb+5w+4e-db+86"
			    ad-format="fluid"
			    ad-client="ca-pub-6209186190244737"
			    ad-style="display:block"></ad-sense>
			</div>
  	</div>
		<div v-if=" current_index>=0 && list.length>0 " class="toggle-menu" :class="{'menu-close':menu_close}" @click=" menu_close = !menu_close ">
			<fai icon="arrow-right"></fai>
		</div>
  	<div v-if=" current_index>=0 && list.length>0 " class="index-words" :class="{'menu-close':menu_close}">
  		<ul class="index">
	  		<li v-for="(it,idx) in list">
	  			<div class="great" @click="select(idx)" :class="{great_selected:idx == current_index}">
	  				{{idx + 1}}
	  			</div>
	  		</li>
	  	</ul>
  	</div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as utils from '@/assets/js/utils.js'
import happy from '@/assets/happy.svg'
import Adsense from '@/components/Adsense.vue'
Vue.component(Adsense.name,Adsense)
const server_api 				= process.env.VUE_APP_SERVER_API
const server_path 			= process.env.VUE_APP_SERVER_URL+"/guess-words"
export default{
	data(){
		return {
			list:[],
			wait:{
				list:false,
				add_success:false,
			},
			current_index:-1,
			menu_close:false,
			text:'',
			category_id:null,
			category:'',
			description:'',
			acertadas:[],
			valid_string:null,
		}
	},
	mounted(){
		this.category_id = this.$route.query.category
		this.getLists()
	},
	methods:{
		select(idx){
			this.current_index = idx
			this.wait.add_success = false
		},
		getLists(){
			if(this.wait.list)return
			this.wait.list = true
			this.axios.get(`${server_path}/${this.category_id}`,{ 
				headers:{  
					'Accept':'application/json', 
     			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then((response) =>{
			  if(this.$dev_mode)console.log(response)
				this.wait.list = false
			  if(response && response.data && response.data.values){
			  	let list = response.data.values
			  	this.valid_string = null
			  	this.list = []
					list.forEach( record => this.list.push({text:record.name,rand_text:utils.shuffleRandom(record.name),id:record.id}))
					this.current_index = 0
					this.category = response.data.category
					this.description = response.data.description
			  }else{
			  }
			}).catch((err) =>{
				this.wait.list = false
				if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
				this.list = []
			})
    },
    add_success(word_id,date_format){
			if(this.wait.add_success)return
			this.wait.add_success = true
			this.axios.post(`${server_api}/add_success_gw`,{ 
					id:word_id,
					date_format:date_format,
				},
				{ 
					headers:{  
						'Accept':'application/json', 
	     			'Content-Type':'application/json',
					},
				}
			).then((response) =>{
			  if(this.$dev_mode)console.log(response)
				this.wait.add_success = false
			  if(response && response.data && response.data.success){
			  	this.$parent.load_experience()
			  }else{
			  	if(this.$dev_mode){
			  		this.$parent.load_experience()
			  	}
			  }
			}).catch((err) =>{
				this.wait.add_success = false
				if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
				
			})
    },
	},
	computed:{

	},
	filters:{

	},
	watch:{
		text(new_val,old_val){
			let selected = this.list[this.current_index]
			if(new_val.toLowerCase() == selected.text){
				let str = new_val.toUpperCase()
				if(this.acertadas.indexOf(str)==-1)this.acertadas.push(str)
				this.valid_string = true
				let d = new Date()
				let date_format = `${d.getFullYear()}-${ String("00" + (d.getMonth()+1)).slice(-2) }-${ String("00" + d.getDate()).slice(-2) }`
				this.add_success(selected.id,date_format)
				console.log(date_format)
			}else{
				this.valid_string = false
			}
			if(new_val=='')this.valid_string = null
		},
		$route(to,from){
			if(this.$dev_mode){
				console.log("to => ",to)
				console.log("from => ",from)
			}
			try{
				this.category_id = window.parseInt(to.query.category)
				this.getLists()
			}catch(e){}
		},
	},
	props:{

	},
}
</script>
<style scoped lang=scss>
@import '@/assets/css/_common.scss'

</style>
