<template>
  <ins class="adsbygoogle"
    :style="adStyle"
    :data-ad-layout-key="adLayoutKey"
    :data-ad-client="adClient"
    :data-ad-format="adFormat"
    :data-ad-slot="adSlot"></ins>
</template>

<script>
export default {
  name:'ad-sense',
  props: {
    adStyle: {
        type: String,
        required: false,
        default: "display:block",
    },
    adClient: {
        type: String,
        required: false,
        default: "ca-pub-XXXXXXXXXX",
    },
    adFormat: {
        type: String,
        required: false,
        default: "fluid",
    },
    adLayoutKey: {
        type: String,
        required: false,
        default: "xxxxxxx",
    },
    adSlot: {
        type: String,
        required: false,
        default: "XXXXXXXX",
    },
  },
  mounted() {
    (window.adsbygoogle = window.adsbygoogle || []).push({});
  }
}
</script>