<template>
  <div id="app">
    <b-modal
      title="Nivel" 
      size=sm
      id="modal_xp"
      ref="modal_xp"
      :hide-footer="true"
    >
      <div id="levels_xp">
        <div>
          <b-btn variant="outline-yuna">
            <fai icon="trophy"></fai>
          </b-btn>
          <span>Yuna [ < ∞ xp] </span>
          <fai class="check" icon="check-circle" v-if="check_xp(1200,100000)"></fai>
        </div>
        <div>
          <b-btn variant="outline-oso">
            <fai icon="trophy"></fai>
          </b-btn>
          <span>Oso [ < 1200 xp] </span>
          <fai class="check" icon="check-circle" v-if="check_xp(800,1200)"></fai>
        </div>
        <div>
          <b-btn variant="outline-yaco">
            <fai icon="trophy"></fai>
          </b-btn>
          <span>Yaco [ < 800 xp] </span>
          <fai class="check" icon="check-circle" v-if="check_xp(500,800)"></fai>
        </div>
        <div>
          <b-btn variant="outline-rufus">
            <fai icon="trophy"></fai>
          </b-btn>
          <span>Rufus [ < 500 xp] </span>
          <fai class="check" icon="check-circle" v-if="check_xp(200,500)"></fai>
        </div>
        <div>
          <b-btn variant="outline-bobby">
            <fai icon="trophy"></fai>
          </b-btn>
          <span>Bobby [ < 200 xp] </span>
          <fai class="check" icon="check-circle" v-if="check_xp(40,200)"></fai>
        </div>
        <div>
          <b-btn variant="outline-pancho">
            <fai icon="trophy"></fai>
          </b-btn>
          <span>Pancho [ < 40 xp] </span>
          <fai class="check" icon="check-circle" v-if="check_xp(0,40)"></fai>
        </div>
      </div>
    </b-modal>
    <header class="top-header">
      <b-container>
        <h6>Aprendiendo Español</h6>&nbsp;
        <!--
        <b-btn size=sm variant="outline-success" @click="" v-b-modal.login>
          <span>{{profile.firstname!='' ? 'Ingresar':'Hola'}}</span>&nbsp;
          <fai icon="user"></fai>
        </b-btn>
        -->
        <div style="display: inline-block;">
          
          <facebook-login class="button fb-login"
            :appId="fb_app_id"
            :version="fb_app_version"
            data-button-type="login_with" 
            data-size='large'
            @login="fbLogin"
            @logout="fbLogout"
            @get-initial-status="fbGetUserData"
            loginLabel="Ingresar"
            logoutLabel="Salir"
            >
          </facebook-login>
        </div>
        <b-btn class="menu-links" @click="show_right_menu=!show_right_menu" variant="outline-default" size=sm>
          <fai icon="bars"></fai>
        </b-btn>
      </b-container>
    </header>
    <div id="nav" :class="{show_right_menu:show_right_menu}" >
      <b-btn id="nav_close" @click="show_right_menu=!show_right_menu" size=sm variant="outline-danger">
        <fai icon="times"></fai>
      </b-btn>
      <b-btn id="nav_points" variant="outline-info" size=sm v-b-modal.modal_xp>
        <fai icon="trophy"></fai>
      </b-btn>
      <label id="xp">{{experience_points}} XP</label>
      <div id="nav_c">
        <router-link to="/" class="home_link"><label>Inicio</label></router-link>
        <ul>
          <li>
            <label>Adivinar palabras</label>     
            <ul>
              <li v-for=" (it,idx) in list_guess_words_categories "><router-link :to="`/guess-words?category=${it.id}`"><label>{{it.name}} ({{it.total}})</label></router-link></li>
            </ul>       
          </li>
          <li>
            <label>Completar oraciones</label>     
            <ul>
              <li v-for=" (it,idx) in list_phrases_categories "><router-link :to="`/complete-phrases?category=${it.id}`"><label>{{it.name}} ({{it.total}})</label></router-link></li>
            </ul>       
          </li>
        </ul>
        <hr />
        <!--
        <div style="padding-left: 10px;">
          <label>Si te ayudó mucho, quizás puedas apoyarnos para mantener activo este sitio</label>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="XCZ99TFJX3VPQ" />
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
          <img alt="" border="0" src="https://www.paypal.com/en_PE/i/scr/pixel.gif" width="1" height="1" />
          </form>
        </div>
        -->
      </div>
    </div>
    <b-container>
      <router-view />
    </b-container>
    <footer id="footer">
      <b-container>
        <b-row>
          <b-col lg=4 md=4 class="ss">
            <div>
              <router-link to="/">
                <h6>
                ¿ Cómo usar ?
                </h6>
              </router-link>
              <a href="https://www.facebook.com/espafluent/">Click aquí para conocer una <br />nueva actualización</a>
              <h6>versión: 2.1 dev</h6>
            </div>
          </b-col>
          <b-col lg=4 md=4 class="ss">
            <div>
              <h6>Aprendiendo Español</h6>
              <h6>Lima, Perú</h6>
            </div>
          </b-col>
          <b-col lg=4 md=4>
            <div class="fb-page" data-href="https://www.facebook.com/espafluent" data-tabs="timeline" data-width="250" data-height="200" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/espafluent" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/espafluent">Espafluent</a></blockquote></div>
          </b-col>
        </b-row>
      </b-container>
    </footer>
  </div>
</template>

<script>
  import Vue from 'vue'
  import FacebookLogin from '@/components/FacebookLogin'
  Vue.component(FacebookLogin.name,FacebookLogin)
  const server_api = process.env.VUE_APP_SERVER_API
  const server_resources = process.env.VUE_APP_SERVER_URL
  const server_resources_phrases = `${server_resources}/complete-phrases`
  const server_resources_complete_phrases_categories = `${server_resources}/complete-phrases-categories`
  const server_resources_guess_words_categories = `${server_resources}/guess-words-categories`
  export default{
    data(){
      return {
        show_right_menu:false,
        fb_app_id:process.env.VUE_APP_FACEBOOK_APP_ID,
        fb_app_version:process.env.VUE_APP_FACEBOOK_APP_VERSION,
        profile:{
          image_url:'',
          firstname:'',
        },
        list_phrases_categories:[],
        list_guess_words_categories:[],
        wait:{
          list_phrases_categories:false,
          list_guess_words_categories:false,
        },
        experience_points:0,
        token:'',
      }
    },
    mounted(){
      this.getListsPhraseCategories()
      this.getListsGuessWordsCategories()
      this.load_experience()
      let tag
      if(!this.$dev_mode){
        tag = document.createElement('script')
        tag.setAttribute('src','https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        tag.setAttribute("async",true)
        document.head.appendChild(tag)

        tag = document.createElement('script')
        tag.setAttribute('src','https://www.googletagmanager.com/gtag/js?id=UA-77863190-3')
        tag.setAttribute("async",true)
        document.head.appendChild(tag)

        window.dataLayer = window.dataLayer || [];
        window.gtag = function(){dataLayer.push(arguments);}
        window.gtag('js', new Date());
        window.gtag('config', 'UA-77863190-3');
      }

        tag = document.createElement('script')
        tag.setAttribute('src','https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0&appId=728135517275940&autoLogAppEvents=1')
        tag.setAttribute("async",true)
        tag.setAttribute("defer",true)
        tag.setAttribute("crossorigin","anonymous")
        document.head.appendChild(tag)
    },
    methods:{
      check_xp(from,to){
        return this.experience_points >= from && this.experience_points < to
      },
      load_experience(){
        if(!this.token || this.token=='')return
        this.axios.get(`${server_api}/xp`,{ 
          headers:{  
            'Accept':'application/json', 
            'Content-Type':'application/json',
          },
          params:{ 
            which:'learning-spanish',
          }, 
        }).then((response) =>{
          if(this.$dev_mode)console.log(response)
          if(response && response.data && response.data.values){
            this.experience_points = response.data.values.total
          }else{
          }
        }).catch((err) =>{
          if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
        })
      },
      fbCheck:function(evt){
        if(this.$dev_mode){
          console.log("server_api",server_api)
          console.log("fb event => ",evt)
        }
        let token = evt && evt.authResponse ? evt.authResponse.accessToken : null
        token = evt && evt.response && evt.response.authResponse ? evt.response.authResponse.accessToken : token
        this.token = typeof token == 'string' ? token : ''
        this.setAxiosToken()
        if(token!='' && window.FB && FB.getUserID()){
          this.profile.image_url = `https://graph.facebook.com/${FB.getUserID()}/picture`
          this.axios.post(`${server_api}/check_provider`,{},{
              headers:{
              },
            }
          ).then((response) => {
            if(this.$dev_mode)console.log(response)
            this.profile.firstname = response.data.profile.firstname || response.data.profile.name
          this.load_experience()
          })
          .catch((err) => {
            // handle error
            if(this.$dev_mode){
              console.log(err)
              console.log(err.response)
            }
          });
        }else{
          this.last_project_id = this.current_project_id = 1
        }
      },
      fbLogin(evt){
        if(this.$dev_mode)console.log(evt)
        this.fbCheck(evt)
        /*
        FB: {__globalCallbacks: {…}, api: ƒ, AppEvents: {…}, getLoginStatus: ƒ, getAuthResponse: ƒ, …}
        response: {authResponse: {…}, status: "connected"}
        __proto__: Object
        */
      },
      fbLogout(evt){
        if(this.$dev_mode)console.log(evt)
        this.profile.firstname = ''
        this.token = ''
        /*
        authResponse: {accessToken: "EAAFa03UW4KABAH2kjnt3R3Xr9WlPrFyI90C92alqbwDjA5XCs…Y0QcN1kL9ejLnFA1Fp5Y9PPWLPxtAR2zess3QKNjkSQ9QZDZD", userID: "10210236492908498", expiresIn: 5724, signedRequest: "h3jS6TZtV3qn---DYG_nX6TzvFVfdFv8Yid9rJLxOg0.eyJjb2…JITUFDLVNIQTI1NiIsImlzc3VlZF9hdCI6MTU2MDcyNzQ3Nn0", reauthorize_required_in: 7776000, …}
        status: "unknown"
        */
      },
      fbGetUserData(evt){
        if(this.$dev_mode)console.log(evt)
        this.fbCheck(evt)
        /*
        authResponse:
        accessToken: "EAAFa03UW4KABAH2kjnt3R3Xr9WlPrFyI90C92alqbwDjA5XCs9CqrgzrSOLN3lil8kOe7kEu2oocQHhTVZAR1Ex6byySqGgmE1d9efISZAHHHZCZBqRroyxrtYZCuZBFidblerBcoz3b5tZB5pEJ9ZAyWnlWMacFIY0QcN1kL9ejLnFA1Fp5Y9PPWLPxtAR2zess3QKNjkSQ9QZDZD"
        data_access_expiration_time: 1568503476
        expiresIn: 5724
        reauthorize_required_in: 7776000
        signedRequest: "h3jS6TZtV3qn---DYG_nX6TzvFVfdFv8Yid9rJLxOg0.eyJjb2RlIjoiQVFEdVUySzlRd0lwR0hySW9WVmJQalpDUjU1SGdsU255ZTJKczlLRFgyaEw1WFdjd2NIWDdDZnlRWEdhNTg3WTUtSmNCcnRhc2pLQmdJTk15MW5rcnNaXzdsV2MxSE9DSWlSMXJuZUsyRWQ1bjlkSHp0Y2d3d1BqS2tXZVFmZDd1a2Y3RW5jU3NKb2NnTEVLbWs2c29ZamFoRFhWSWdqdndRNDJENTVpN1p4b3Fwb3VSbkIwa1hHb2ZkM0ttQkZDcGs3MEdMMm50aWNXMEFIRWhSZnNzcGpQbThNZFRNb2hyTDVncVpLb0R3ZnpEczltRTNpb1lTbXdPemp1ZWpNckF5MHVMcG12b1dRVWxCOVF2TzBmZXgydXlsOEk0Z3NiMng0blpTR0JPVmlMWjZqZzA5eDNqSGVidDlPWjBZOHhiY1RJWGNKcDE1OVNkRDhjMUNtTllTTGMiLCJ1c2VyX2lkIjoiMTAyMTAyMzY0OTI5MDg0OTgiLCJhbGdvcml0aG0iOiJITUFDLVNIQTI1NiIsImlzc3VlZF9hdCI6MTU2MDcyNzQ3Nn0"
        userID: "10210236492908498"
        __proto__: Object
        status: "connected"
        */
      },
      setAxiosToken(){
        this.axios.defaults.headers.common['X-ACCESS-TOKEN'] = this.token
      },
      getListsPhraseCategories(){
        if(this.wait.list_phrases_categories)return
        this.wait.list_phrases_categories = true
        this.msg = 'Espere porfavor...'
        this.axios.get(server_resources_complete_phrases_categories,{ 
          headers:{  
            'Accept':'application/json', 
            'Content-Type':'application/json',
          },
          params:{ 
          }, 
        }).then((response) =>{
          if(this.$dev_mode)console.log(response)
          this.wait.list_phrases_categories = false
          if(response && response.data && response.data.values){
            this.list_phrases_categories = response.data.values
          }else{
          }
        }).catch((err) =>{
          this.wait.list_phrases_categories = false
          if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
          this.list_phrases_categories = []
        })
      },
      getListsGuessWordsCategories(){
        if(this.wait.list_guess_words_categories)return
        this.wait.list_guess_words_categories = true
        this.msg = 'Espere porfavor...'
        this.axios.get(server_resources_guess_words_categories,{ 
          headers:{  
            'Accept':'application/json', 
            'Content-Type':'application/json',
          },
          params:{ 
          }, 
        }).then((response) =>{
          if(this.$dev_mode)console.log(response)
          this.wait.list_guess_words_categories = false
          if(response && response.data && response.data.values){
            this.list_guess_words_categories = response.data.values
          }else{
          }
        }).catch((err) =>{
          this.wait.list_guess_words_categories = false
          if(this.$dev_mode)console.log(err);console.log(err.response);console.log(err.status)
          this.list_guess_words_categories = []
        })
      },
    },
    watch:{
      $route:function(){
        this.show_right_menu = false
      }
    }
  }
</script>

<style lang="scss">
@mixin box-shadow($offsetX, $offsetY, $blur, $spred, $color) {
  -webkit-box-shadow: $offsetX $offsetY $blur $spred $color !important;
  -moz-box-shadow: $offsetX $offsetY $blur $spred $color !important;
  box-shadow: $offsetX $offsetY $blur $spred $color !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  >div.container{
    box-shadow: 1px 1px 7px 1px #cecece;
  }
}
#nav {
  position: fixed;
  top: 0;
  right: -300px;
  padding: 3px 2px 5px 0px;
  background: #f5ffcf;
  z-index: 300;
  text-align: left;
  height: 100vh;
  min-width: 250px;
  max-width: 300px;
  border-left: 1px solid #909090;
  box-shadow: 0px 0px 7px 0px #828282;
  transition: all 0.5s ease-in-out;
  &.show_right_menu{
    right: 0;
  }
  a {
    display: block;
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  #nav_c{
    border-top: 1px solid black;
    margin-top: 40px;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    ul{
      padding: 0;
      margin: 0;
    }
    >ul{
      >li{
        >label{
          padding: 10px 5px;
          margin: 0px;
          width: 100%;
          color: white;
          background: #16526b;
        }
        >ul{
          >li{
            >a{
              position: relative;
              display: block;
              &:before{
                position: absolute;
                top: 5px;
                left: 5px;
                display: inline-block;
                content:'•';
              }
              &.router-link-exact-active{
                label{
                  background: #2d7d9e;
                  color: white;
                }
              }
              >label{
                width: 100%;
                margin-bottom: 0;
                border-bottom: 1px solid #d9deb3;
                padding: 5px 5px 5px 15px;
                transition: all 0.1s ease-in-out;
                &:hover{
                  background: #2d7d9e;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
  #nav_close{
    position: absolute;
    top: 5px;
    left: 5px;
  }
}
.top-header{
  border-top: 1px solid #c4c4c4;
  position: fixed;
  z-index: 200;
  width: 100%;
  padding-top: 4px;
  height: 40px;
  background: #ffffff;
  box-shadow: 1px 1px 1px 1px #c4c4c4;
  .container{
    align-items: middle;
  }
  h6{
    display: inline-block;
  }
}
.menu-links{
  float: right;
}
.vf{
  padding-top: 40px;
}
.fb-login{
  margin-top: 2px;
}
.c-app-title{
  margin:20px 2px;
}
#footer{
  >.container{

    background: blue;
    color:white;
    box-shadow: 1px 1px 7px 1px #cecece;
    padding: 40px 10px;
  }
}
.home_link{
  padding: 9px 5px;
  background: #49849c;
  border-bottom: 1px solid white;
  label{
    cursor: pointer;
    margin: 0px;
    color: white;
  }
}
#footer{
  a{
    color:white;
    &:active{
      color: white;
    }
    &:hover{
      color: white;
    }
  }
  .ss{
    display: flex;
    align-items: center;
    >div{
      width: 100%;
      margin: 10px auto;
    }
    h6{
    }
    a{
      margin: 10px auto;
    }
  }
}
#nav_points{
  float: right;
}
#xp{
  float: right;
  font-size: 13px;
  font-family: "Fredoka One", cursive;
  color: #8c7518;
  margin: 6px 4px 6px 2px;
}
.btn-outline-yuna{
  color: #cca23d !important;
  border: 1px solid #cca23d !important;
  &:focus{
    @include box-shadow(0, 0, 0, 0.2rem, #cca23d55);
  }
}
.btn-outline-oso{
  color: #c2c2c2 !important;
  border: 1px solid #c2c2c2 !important;
  &:focus{
    @include box-shadow(0, 0, 0, 0.2rem, #c2c2c255);
  }
}
.btn-outline-yaco{
  color: #975e12 !important;
  border: 1px solid #975e12 !important;
  &:focus{
    @include box-shadow(0, 0, 0, 0.2rem, #975e1255);
  }
}
.btn-outline-rufus{
  color: #269496 !important;
  border: 1px solid #269496 !important;
  &:focus{
    @include box-shadow(0, 0, 0, 0.2rem, #26949655);
  }
}
.btn-outline-bobby{
  color: #0f4779 !important;
  border: 1px solid #0f4779 !important;
  &:focus{
    @include box-shadow(0, 0, 0, 0.2rem, #0f477955);
  }
}
.btn-outline-pancho{
  color: #229c71 !important;
  border: 1px solid #229c71 !important;
  &:focus{
    @include box-shadow(0, 0, 0, 0.2rem, #229c7155);
  }
}
#levels_xp{
  >div{
    margin: 10px auto;
    >span{
      font-family: "Manjari", sans-serif;
      margin-left: 10px;
    }
    >.check{
      color: green;
      margin-left: 10px;
    }
  }
}
</style>
